In [8]:
import pandas as pd

In [9]:
df = pd.read_csv('Resultados.csv', sep=';')

In [10]:
df

     instancia  rodada  FO_inicial   FO_final           DP     tempo
1   X-n153-k22       1   113901.53   70901.93  9620.903270  3.182032
1   X-n153-k22       2   106593.77   77203.54  8902.869967  3.168041
1   X-n153-k22       3   109725.94   78944.26  7479.823062  3.205809
1   X-n153-k22       4    94031.08   73041.03  8161.053744  3.220393
1   X-n153-k22       5   105786.47   78169.91  7920.186277  3.048198
..         ...     ...         ...        ...          ...       ...
1   X-n148-k46       6   141600.26  112057.51  8013.012611  3.169011
1   X-n148-k46       7   138152.95  108603.00  7163.279831  3.382454
1   X-n148-k46       8   145224.06  108401.63  7922.186673  3.713451
1   X-n148-k46       9   141735.69  106306.52  8073.724097  3.246754
1   X-n148-k46      10   132407.10  106952.20  7389.003974  3.519666

[900 rows x 6 columns]

In [11]:
def format_decimal(row):
    return str(row).replace(",", "").replace(".", ",")

In [12]:
values_to_change = ["FO_inicial", "FO_final", "DP", "tempo"]
for value in values_to_change:
    df[value] = df[value].apply(format_decimal)

In [13]:
df

,instancia,rodada,FO_inicial,FO_final,DP,tempo
1,X-n153-k22,1,"113901,53","70901,93","9620,90326973209","3,18203248182933"
1,X-n153-k22,2,"106593,77","77203,54","8902,86996739195","3,16804141600927"
1,X-n153-k22,3,"109725,94","78944,26","7479,823062449399","3,20580876668294"
1,X-n153-k22,4,"94031,08","73041,03","8161,05374433359","3,2203933477401696"
1,X-n153-k22,5,"105786,47","78169,91","7920,1862765562","3,0481976826985697"
...,...,...,...,...,...,...
1,X-n148-k46,6,"141600,26","112057,51","8013,01261086386","3,16901058355967"
1,X-n148-k46,7,"138152,95","108603,0","7163,27983143678","3,38245436747869"
1,X-n148-k46,8,"145224,06","108401,63","7922,18667311141","3,71345055103302"
1,X-n148-k46,9,"141735,69","106306,52","8073,724097472091","3,2467538992563902"
1,X-n148-k46,10,"132407,1","106952,2","7389,00397432638","3,51966555118561"

In [14]:
df.to_excel('res.xlsx', index=False)